@model GdzieMojHajs.ViewModels.UserProfileInfos.UserDebtsViewModel

@{
    ViewData["Title"] = "Home Page";
}

@*<div id="partialNotification">
        @Html.Partial("_WatchNotifications");
    </div>*@


@* Tables will be generated automaticly *@


<div class="tables">
    <div class="col-lg-6">
            <table class="table table-striped" id="MyDebtors">
                <caption>
                    <div class="col-lg-11">My Debtors</div>
                     <div class="col-lg-1">@*<a asp-controller="Debts" asp-action="Create" title="Add new debt" data-target="#createModal"></a>*@
                         <a  id="createOwnDebt" data-toggle="modal" data-target="#createOwnModal">
                             <i  class="glyphicon glyphicon-plus" title="Add new debt"></i>
                         </a>
                    </div>
                </caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Ammount</th>
                        <th>Date</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OwnedDebts.Select((item, index) => new { item, index = index+1 }))
                    {
                        <tr>
                            <td>
                                @item.index
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.item.DebtReceiver.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.item.DebtReceiver.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.item.Date)
                            </td>
                            <td>
                                <a class="flip">
                                    <div class="glyphicon glyphicon-comment" title="Comment"></div>
                                </a>
                                <a asp-controller="Home" asp-action="Index" class="glyphicon glyphicon-edit" title="Edit"></a>
                                <a asp-controller="Home" asp-action="Index" class="glyphicon glyphicon-user" title="Rewrite"></a>
                                @Html.ActionLink("", "PayOff", "Debts", new { item.item.Id }, new { @class = "glyphicon glyphicon-ok", @title ="Pay Off" })
                                
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="panel"><div>@Html.DisplayFor(modelItem => item.item.Comment)</div></div>
                            </td>
                        </tr>

                    }
                </tbody>

            </table>
    </div>



    <div class="col-lg-6">
        <table class="table table-striped" id="MyDebts">
            <caption>
                <div class="col-lg-11">My Debts</div>
                <div class="col-lg-1">
                <a id="createReceivedDebt" data-toggle="modal" data-target="#createReceivedModal">
                    <i class="glyphicon glyphicon-plus" title="Add new debt"></i>
                </a>
            </div>
            </caption>
            <thead>

                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Ammount</th>
                    <th>Date</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
    @foreach (var item in Model.ReceivedDebts.Select((item, index) => new { item, index = index + 1 }))
    {
        <tr>
            <td>
                @item.index
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.DebtOwner.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.DebtOwner.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.Date)
            </td>
            <td>
                <a class="flip">
                    <div class="glyphicon glyphicon-comment" title="Comment"></div>
                </a>
                <a asp-controller="Home" asp-action="Index" class="glyphicon glyphicon-edit" title="Edit"></a>
                <a asp-controller="Home" asp-action="Index" class="glyphicon glyphicon-user" title="Rewrite"></a>
                @Html.ActionLink("", "PayOff", "Debts", new { item.item.Id }, new { @class = "glyphicon glyphicon-ok", @title = "Pay Off" })
            </td>
        </tr>
                
        <tr>
                <td>
                    <div class="panel"><div>@Html.DisplayFor(modelItem => item.item.Comment)</div></div>
                </td>
        </tr>
    }
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="createOwnModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Create new debt</h4>
            </div>
            <div class="modal-body">
                <div id="userMessage1"></div>

                <div class="alert alert-success">@Component.InvokeAsync("Debt", new {owned = true }).Result</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createReceivedModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Create new debt</h4>
            </div>
            <div class="modal-body">
                <div id="userMessage2"></div>

                <div class="alert alert-success">@Component.InvokeAsync("Debt", new {owned = false }).Result</div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>

$(function() {
    $("#datepicker1").datepicker({ dateFormat: 'dd-mm-yy' });
});
$(function () {
    $("#datepicker2").datepicker({ dateFormat: 'dd-mm-yy' });
});
//$('.datepicker2').datepicker({
//    onSelect: function () {
//        $('input.datepicker2').text(this.value);
//    }
    //});

$(document).ready(function(){
    $(".flip").click(function () {
        $nextComment = $(this).closest('tr').next().find('.panel');
        $nextComment.slideToggle(500);
    });
});

</script> 