@model GdzieMojHajs.ViewModels.Debts.DebtViewModel

        <td>
            @Html.DisplayFor(m => m.DebtOwner.Name)
        </td>
        <td>
            @Html.DisplayFor(m => m.DebtOwner.Surname)
        </td>
        <td>
            @Html.DisplayFor(m => m.Amount)
        </td>
        <td>
            @Html.DisplayFor(m => m.Date)
        </td>
        <td>
            <a class="flip">
                <div class="glyphicon glyphicon-comment" title="Comment"></div>
            </a>
            <a asp-controller="Home" asp-action="Index" class="glyphicon glyphicon-edit" title="Edit"></a>
            <a asp-controller="Home" asp-action="Index" class="glyphicon glyphicon-user" title="Rewrite"></a>
            @Html.ActionLink("", "PayOff", "Debts", new {Model.Id }, new { @class = "glyphicon glyphicon-ok", @title = "Pay Off" })
        </td>


    <tr>
        <td>
            <div class="panel"><div>@Html.DisplayFor(m => m.Comment)</div></div>
        </td>
    </tr>
