@model GdzieMojHajs.ViewModels.Debts.DebtViewModel

        <td>
            @Html.DisplayFor(m => m.DebtReceiver.Name)
        </td>
        <td>
            @Html.DisplayFor(m => m.DebtReceiver.Surname)
        </td>
        <td>
            @Html.DisplayFor(m => m.Amount)
        </td>
        <td>
            @Html.DisplayFor(m => m.Date)
        </td>
        <td>
            <a class="flip"><div class="glyphicon glyphicon-comment" title="Comment"></div></a>
            <a class="glyphicon glyphicon-user rewrite-own" data-id="@Model.Id" title="Rewrite"></a>
            <a class="glyphicon glyphicon-edit edit-debt" data-id="@Model.Id"></a>
            @Html.ActionLink("", "PayOff", "Debts", new {Model.Id }, new { @class = "glyphicon glyphicon-ok", @title = "Pay Off" })            
        </td>


    <tr>
        <td colspan="6">
            <div class="panel"><div>@Html.DisplayFor(m => m.Comment)</div></div>
        </td>
    </tr>
